<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @skill.One %>
</p>

<p>
  <strong>Aac:</strong>
  <%= @skill.AAC %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
